.body_background 
{
    background-image:url('backg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 60px;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
    border-color: rgba(5, 119, 226, 0.32);
    color:rgb(128, 240, 227);
}

h3
{
	width: 600px;
	background-color:rgb(43, 158, 193);
	display: inline-block;
    color:rgb(2, 0, 139);
}

